<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SmartHomeClient.My.MySettings.DBConnectionString" connectionString="Data Source=|DataDirectory|\DB.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.VisualStudio.DebuggerVisualizers" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Emgu.Util" publicKeyToken="7281126722AB4438" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.2157" newVersion="3.0.0.2157"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Emgu.CV.UI" publicKeyToken="7281126722AB4438" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.2157" newVersion="3.0.0.2157"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Emgu.CV" publicKeyToken="7281126722AB4438" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.2157" newVersion="3.0.0.2157"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
